h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: rgb(27, 23, 23);
}

.container {
    display: flex;
    margin: 0px 0px 0px 71px
}

h3 {
    margin: 7px 82px 3px 5px;
    font-family: 'Dosis', sans-serif;
}
h2{
    text-align: center;
    color: rgb(163, 168, 173);
    font-family: 'Ysabeau SC', sans-serif;
}
table{

    /* border: 1px solid black; */
    font-family: 'Dosis', sans-serif;
}
td{
    border: 1px solid black;
    padding: 0px 60px 1px 38px;
    text-align: center;
}
.pink{
    color: rgb(207, 95, 114);
}
.sea{
    color: rgb(65, 153, 103);
}
.green{
    color: rgb(4, 15, 4);
}
.all{
    /* margin-left: 412px; */
}